header{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    margin-bottom: 100px;
    z-index: 5;
    
    
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    text-align:center;
    background-color: black;
    width:100%;
    color:white;

}

body{
    background-image: url(../Images/dark-honeycomb.png);
    margin-top: 100px;
}

.content{
    margin:50px;
}

#clearfix{
    clear:both;
}